<section class="row align-items-center page-section p-0" id="about">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="col-lg-10 col-xl-8">
        <div class="home-intro">
            <div id="hello">Hello!</div>
            <div>My name is Alex Rotaru.</div>
            <p id="description">
                I am currently working as a Scriptwriter for Ipsos Interactive Services. In my
                free time I am
                also working on a Python portfolio focused on back-end development.
            </p>
        </div>
    </div>
</section>