<section class="page-section" id="education">
    <h2 class="section-title mb-5 p-4">My Education</h2>
    <article class="univ-article mb-4 mx-3">
        <div class="row">
            <div class="col-sm-5 col-md-3 col-xl-2 text-center">
                <img src="https://res.cloudinary.com/duodq6ue9/image/upload/c_scale,h_150/v1616673698/personal-page/ub_logo_r4zdem.png"
                    alt="universitatea din bucuresti logo">

            </div>
            <div class="col-sm-7 col-md-9 col-xl-10">
                <h3>Universitatea din București</h3>
                <p class="mb-0">Facultatea de Matematică și Informatică</p>
                <p class="mb-0">Informatică ID, Diplomă de licență</p>
                <p>2017-2020</p>
            </div>
        </div>
    </article>
    <article class="univ-article mb-4 mx-3">
        <div class="row">
            <div class="col-sm-5 col-md-3 col-xl-2 text-center">
                <img class=""
                    src="https://res.cloudinary.com/duodq6ue9/image/upload/c_scale,h_150/v1616673467/personal-page/utcn_logo_uc6an5.png"
                    alt="utcn logo">
            </div>
            <div class="col-sm-7 col-md-9 col-xl-10">
                <h3 class="mt-3">Universitatea Tehnică din Cluj-Napoca</h3>
                <p class="mb-0">Facultatea de Automatică și Calculatoare</p>
                <p>2015-2017</p>
            </div>
        </div>
    </article>
    <article class="univ-article mb-4 mx-3">
        <div class="row">
            <div class="col-sm-5 col-md-3 col-xl-2 text-center">
                <img src="https://res.cloudinary.com/duodq6ue9/image/upload/c_scale,h_150/v1616674225/personal-page/cncc_logo_iphcmh.png"
                    alt="carabella logo">
            </div>
            <div class="col-sm-7 col-md-9 col-xl-10">
                <h3>Colegiul Național Constantin Carabella, Târgoviște</h3>
                <p class="mb-0">Matematică-Informatică, Diplomă de Bacalaureat</p>
                <p>2010-2014</p>
            </div>
        </div>
    </article>
</section>