<section class="hide-section page-section" id="projects">
    <h2 class="section-title mb-5 p-4">My Projects</h2>
    <article class="projects mx-3 mb-5 row">
        <div class="project mt-2 col-sm-6 col-md-5 col-lg-4 row">
            <a href="https://github.com/alexrotaru15/flight-deals" target='_blank'>
                <img class="col-12 img-fluid"
                    src="https://res.cloudinary.com/duodq6ue9/image/upload/v1616838683/personal-page/flights_lnjxsz.png"
                    alt="flights logo">
            </a>
            <div class="col-12 row m-0 p-0">
                <a class="col pe-0" href="https://flight-deals-rot.herokuapp.com/" target='_blank'>
                    <button class="project-btn btn btn-primary">View Page</button>
                </a>
                <a class="col ps-0" href="https://github.com/alexrotaru15/flight-deals" target='_blank'>
                    <button class="project-btn btn btn-warning">View Code</button>
                </a>
            </div>
        </div>
        <div class="project mt-2 col-sm-6 col-md-5 col-lg-4 row">
            <a class="mb-0" href="https://github.com/alexrotaru15/licenta-shop" target='_blank'>
                <img class="col-12 img-fluid"
                    src="https://res.cloudinary.com/duodq6ue9/image/upload/v1616838965/personal-page/shop_b3s8eo.png"
                    alt="flights logo">
            </a>
            <div class="col-12 row m-0 p-0">
                <a class="col pe-0" href="https://licenta-shop.herokuapp.com/" target='_blank'>
                    <button class="project-btn btn btn-primary">View Page</button>
                </a>
                <a class="col ps-0" href="https://github.com/alexrotaru15/licenta-shop" target='_blank'>
                    <button class="project-btn btn btn-warning">View Code</button>
                </a>
            </div>
        </div>
    </article>
    <article class="mx-3">
        <h3 class="section-subtitle p-4">Technologies</h3>
        <div class="row">
            <div class="col-lg-10 col-xl-8 row justify-content-start mt-2">
                <div class="col-6 col-md-4 mb-3">
                    <img class="skill-logo"
                        src="https://res.cloudinary.com/duodq6ue9/image/upload/c_scale,h_150/v1616753288/personal-page/html5_logo_quxjrq.png"
                        alt="html logo">
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <img class="skill-logo"
                        src="https://res.cloudinary.com/duodq6ue9/image/upload/c_scale,h_150/v1616753414/personal-page/css3_logo_tlnlov.png"
                        alt="css logo">
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <img class="skill-logo"
                        src="https://res.cloudinary.com/duodq6ue9/image/upload/c_scale,h_150/v1616754029/personal-page/js_logo_ndxfmn.png"
                        alt="js logo">
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <img class="skill-logo"
                        src="https://res.cloudinary.com/duodq6ue9/image/upload/c_scale,h_150/v1616694380/personal-page/bootstrap_logo_brsjcs.png"
                        alt="bootstrap logo">
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <img class="skill-logo"
                        src="https://res.cloudinary.com/duodq6ue9/image/upload/c_scale,h_150/v1616694482/personal-page/python_logo_n8izef.png"
                        alt="python logo">
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <img class="skill-logo"
                        src="https://res.cloudinary.com/duodq6ue9/image/upload/c_scale,h_150/v1616694574/personal-page/flask_logo_dqbhli.png"
                        alt="flask logo">
                </div>
                <!-- <div class="col-6 col-md-4">
                    <img class="skill-logo"
                        src="https://res.cloudinary.com/duodq6ue9/image/upload/c_scale,h_150/v1616694682/personal-page/sqlalchemy_logo_ag8qvp.png"
                        alt="sqlalchemy logo">
                </div> -->
            </div>
        </div>
    </article>
</section>