<section class="page-section" id="projects">
    <h2 class="section-title mb-5 p-4">My Projects</h2>
    <article class="projects">
        <a href="https://github.com/alexrotaru15/flight-deals" target='_blank'>Flight Deals</a>
        <a href="https://github.com/alexrotaru15/licenta-shop" target='_blank'>Shop</a>
    </article>
    <article class="mx-3">
        <h3 class="section-subtitle p-4">Skills</h3>
        <div class="row">
            <div class="col-lg-10 col-xl-8 row justify-content-start mt-2">
                <div class="col-6 col-md-4 mb-3">
                    <img class="skill-logo"
                        src="https://res.cloudinary.com/duodq6ue9/image/upload/c_scale,h_150/v1616753288/personal-page/html5_logo_quxjrq.png"
                        alt="html logo">
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <img class="skill-logo"
                        src="https://res.cloudinary.com/duodq6ue9/image/upload/c_scale,h_150/v1616753414/personal-page/css3_logo_tlnlov.png"
                        alt="css logo">
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <img class="skill-logo"
                        src="https://res.cloudinary.com/duodq6ue9/image/upload/c_scale,h_150/v1616754029/personal-page/js_logo_ndxfmn.png"
                        alt="js logo">
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <img class="skill-logo"
                        src="https://res.cloudinary.com/duodq6ue9/image/upload/c_scale,h_150/v1616694380/personal-page/bootstrap_logo_brsjcs.png"
                        alt="bootstrap logo">
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <img class="skill-logo"
                        src="https://res.cloudinary.com/duodq6ue9/image/upload/c_scale,h_150/v1616694482/personal-page/python_logo_n8izef.png"
                        alt="python logo">
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <img class="skill-logo"
                        src="https://res.cloudinary.com/duodq6ue9/image/upload/c_scale,h_150/v1616694574/personal-page/flask_logo_dqbhli.png"
                        alt="flask logo">
                </div>
                <div class="col-6 col-md-4">
                    <img class="skill-logo"
                        src="https://res.cloudinary.com/duodq6ue9/image/upload/c_scale,h_150/v1616694682/personal-page/sqlalchemy_logo_ag8qvp.png"
                        alt="sqlalchemy logo">
                </div>
            </div>
        </div>
    </article>
</section>