<section class="hide-section page-section" id="work-experience">
    <h2 class="section-title mb-5 p-4">Work Experience</h2>
    <article class="univ-article mb-5 mx-3">
        <div class="row">
            <div class="col-sm-5 col-md-3 col-xl-2 text-center">
                <img src="https://res.cloudinary.com/duodq6ue9/image/upload/c_scale,h_150/v1616679788/personal-page/iis_logo_ru9itp.png"
                    alt="ipsos logo">
            </div>
            <div class="col-sm-7 col-md-9 col-xl-10">
                <h3>Ipsos Interactive Services</h3>
                <p class="mb-0">Scriptwriter <span class="text-muted">(March 2019 - present)</span></p>
                <p>Assocciate Scriptwriter <span class="text-muted">(May 2018 - March 2019)</span></p>
            </div>
        </div>
        <ul class="mt-3 list-empl">
            <li>Created online surveys using SPSS Dimensions</li>
            <li>Used pre-existed layouts and created new ones using HTML, CSS and JavaScript</li>
            <li>Trained new colleagues</li>
            <li>2 times awarded "Best Employee of the Quarter" in 2019</li>
        </ul>
    </article>
    <article class="univ-article mb-5 mx-3">
        <div class="row">
            <div class="col-sm-5 col-md-3 col-xl-2 text-center">
                <img src="https://res.cloudinary.com/duodq6ue9/image/upload/c_scale,h_150/v1616677201/personal-page/ea_logo_kyrsev.png"
                    alt="electronic arts logo">
            </div>
            <div class="col-sm-7 col-md-9 col-xl-10">
                <h3>Electronic Arts</h3>
                <p class="mb-0">QA Tester II <span class="text-muted">(April 2018)</span></p>
                <p>QA Tester <span class="text-muted">(July 2017 - March 2018)</span></p>
            </div>
        </div>
        <ul class="mt-3 list-empl">
            <li>Part of the Need For Speed Payback team</li>
            <li>Created testing scenarios and performed quality checks on the game</li>
            <li>Checked for bugs and submitted them in Jira</li>
            <li>Checked if the bugs are fixed</li>
        </ul>
    </article>
</section>